
<h3>Name : {{list.name}}</h3>
<h3>College Name : {{list.collegeName}}</h3>
<h3>Email Id : {{list.mailId}}</h3>
<h3>Mobile Number : {{list.mobileNumber}}</h3>
<p>Check the details and move to pay</p>
<button>Pay</button>
<button ><a href="../form.html">Change Details</a></button>